In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans

In [5]:
df=pd.read_csv(r'Data_sets\Diet_Dataset.csv')

In [6]:
df.head()

         Food_items  ...                                               Link
0  Asparagus Cooked  ...  https://tse1.mm.bing.net/th/id/OIP.JiunioH6eDM...
1          Avocados  ...  https://domf5oio6qrcr.cloudfront.net/medialibr...
2           Bananas  ...  https://images.heb.com/is/image/HEBGrocery/000...
3        Boiled Egg  ...  https://steamykitchen.com/wp-content/uploads/2...
4         Fried Egg  ...  https://bing.com/th?id=OSK.53089988fc3e045aef7...

[5 rows x 18 columns]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Food_items     231 non-null    object
 1   Breakfast      231 non-null    int64
 2   Lunch          231 non-null    int64
 3   Dinner         231 non-null    int64
 4   VegNovVeg      231 non-null    int64
 5   Junk Food      231 non-null    int64
 6   Calories       231 non-null    int64
 7   Fats           231 non-null    float64
 8   Proteins       231 non-null    float64
 9   Iron           231 non-null    float64
 10  Calcium        231 non-null    float64
 11  Sodium         231 non-null    float64
 12  Potassium      231 non-null    float64
 13  Carbohydrates  231 non-null    float64
 14  Fibre          231 non-null    float64
 15  VitaminD       231 non-null    float64
 16  Sugars         231 non-null    float64
 17  Link           231 non-null    object
dtypes: float64(10), int64(6), object(2)
memory usage: 32.6+ KB

In [9]:
print(df.isnull().sum().sort_values(ascending=False))

Food_items       0
Breakfast        0
Lunch            0
Dinner           0
VegNovVeg        0
Junk Food        0
Calories         0
Fats             0
Proteins         0
Iron             0
Calcium          0
Sodium           0
Potassium        0
Carbohydrates    0
Fibre            0
VitaminD         0
Sugars           0
Link             0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(0)